.place__paragraphs {
    grid-area: paragraph;
    width: 100%;
    padding-left: 40px;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .place__paragraphs {
        padding-left: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraphs {
        padding-left: 28px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraphs {
        padding-left: 16px;
        max-width: 288px;
    }
}