.position_place_intro {
    margin: 92px auto 92px 148px;
}

@media screen and (max-width: 1024px) {
    .position_place_intro {
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .position_place_intro {
        margin: 88px 24px;
    }
}

@media screen and (max-width: 320px) {
    .position_place_intro {
        margin: 64px 16px;
    }
}