.footer{
    display: flex;
    justify-content: space-between;
    max-width: calc(100% - 48px*2);
}

@media screen and (max-width: 768px) {
    .footer{
        max-width: calc(100% - 24px*2);
    }
}

@media screen and (max-width: 690px) {
    .footer{
        flex-direction: column;
        max-width: 186px;
    }
}